* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #EEEEEE;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
}

header {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 70%;
    /* border: 1px solid red; */
    margin: auto auto;
}

input {
    height: 60px;
    font-size: 1.5rem;
    width: 80%;
    padding-left: 3%;
    margin-top: 30px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: #027a02;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    height: 60px;
    margin-top: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: auto auto;
    padding-top: 40px;
    /* border: 1px solid blue; */

}

.item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 20px #ccc;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 1%;
    cursor: pointer;
}

.item-icone {
    flex: 5%;
    /* border: 1px solid orangered; */
    text-align: center;
    font-size: 1.5rem;
}

.item-nome {
    flex: 75%;
    /* border: 1px solid deeppink; */
    font-size: 1.5rem;
    font-weight: bold;
}

.item-botao {
    flex: 20%;

    /* border: 1px solid cyan; */
}

.delete {
    background: red;
    color: #ffffff;
    border: none;
    padding: 10px;
    height: 60px;
    width: 100%;
    font-size: 1.5rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.mdi-check-circle {
    color: #027a02;
}

.item.clicado {
    background: #b8f0b8;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: grey;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    header {
        width: 90%;
    }

    input {
        height: 40px;
        font-size: 1rem;
    }

    button.add {
        font-size: 0.8rem;
        height: 40px;
    }

    main {
        width: 90%;
    }

    .item {
        height: 40px;
        margin-bottom: 2%;
    }

    .item-icone {
        font-size: 1rem;
        flex: 10%;
    }

    .item-nome {
        font-size: 1rem;
        flex: 70%;
    }

    .delete {
        padding: 5px;
        height: 40px;
        font-size: 0.8rem;
    }

}